[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dj-database-url = "*"
django = "==1.11.29"
gunicorn = "*"
psycopg2-binary = "*"
whitenoise = "*"
django-environ = "*"
pytz = "*"
googlemaps = "*"

[dev-packages]

[requires]
python_version = "3.6"
